################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServerBrowser/bin
/ServerBrowser/obj
/ServerBrowser/ServerBrowser.csproj.user
